body {
    background-color: #fff;
    font-size: 16px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-8 {
    width: 100%;
}

.col-md-8 article {
    margin-top: 55px;
}

.test-hero {
    position: relative;
    margin-top: 13px;
}

.book-img-wrap {
    margin-right: 15px;
    margin-top: 6px;
    position: relative;
    display: inline-block;
}

.main-img {
    width: 180px;
    border: 4px solid #d4dae0;
    border-radius: 8px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1.test-caption {
    color: #284664;
    margin: 0;
    padding: 0;
}

.test-vote {
    margin: 13px 0 2px;
}

.test-vote {
    margin: 13px 0 2px;
}

.test-vote span {
    color: #f9a95a;
    margin: 0 4px 0 0;
}

.star-rating, .back-stars, .front-stars {
    display: flex;
}

.star-rating {
    justify-content: flex-start;
    align-items: center;
    font-size: 3em;
}

.test-vote em {
    color: #536b83;
    font-size: 12px;
    padding-left: 5px;
}

span.rating-point {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: 2px;
}

.test-des {
    overflow: hidden;
}

.test-des p {
    margin: 5px 0 0 0;
    padding: 0;
    color: #787878;
    font-size: 12px;
    font-weight: 700;
}

.test-des {
    overflow: hidden;
}

.icon-ts {
    float: left;
    width: 16px;
    height: 18px;
    margin: 0 5px 0 0;
    background-repeat: no-repeat;
    background-position: center center;
}

.section-bg {
    background-color: white;
}

.right-panel {
    padding: 10px;
}

article.clearfix .test-hero {
    display: flex;
}

.practice-table {
    margin: 55px 0;
    position: relative;
}

.divTableRow {
    clear: both;
    padding: 20px 17px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: solid 1px #d5d5d5;
}

.head-row {
    border-bottom: 1px solid #d5d5d5;
    padding: 25px 13px 25px;
    background-color: #f3f3f3;
}

.divTableRow {
    clear: both;
    padding: 20px 17px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: solid 1px #d5d5d5;
}

.divTableCell:first-child {
    width: 17.88%;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .17px;
    line-height: 20px;
    text-align: left;
    color: #284664;
}

.divTableCell {
    float: left;
    width: 20.53%;
    text-align: center;
    padding: 0;
    position: relative;
}

.practice-item__chart {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 0 auto 15px;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

.practice-item__chart-icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    position: absolute;
    top: 27%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.practice-item__btn {
    width: 126px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    background-color: #32b4c8;
    border: solid 1px #32b4c8;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .5px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    position: relative;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
}

.practice-item__btn-action {
    width: 99px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: floralwhite;
    cursor: pointer;
}

.listening-icon {
    background: url('https://ieltsonlinetests.com/themes/iot/images/listening-grey-icon.svg') no-repeat center center;
}

.reading-icon {
    background: url('https://ieltsonlinetests.com/themes/iot/images/reading-grey-icon.svg') no-repeat center center;
}

.speaking-icon {
    background: url('https://ieltsonlinetests.com/themes/iot/images/speaking-grey-icon.svg') no-repeat center center;
}

.writing-icon {
    background: url('https://ieltsonlinetests.com/themes/iot/images/writing-grey-icon.svg') no-repeat center center;
}

.practice-item__chart canvas {
    width: 80px;
    height: 80px;
    border-style: inset;
    border-radius: 50%;
}

iframe {
  width: 100%;
  height: 200vh;
}







