.container{
    padding: auto;
    width: 1170px;
}
.content{
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    
}
/* img{
    display: block;
    
    margin-right: auto;
    max-width: 100%;
    vertical-align: middle;
} */
h3{
    font-weight: 800;
    color: #1f4163
    
}
.standfirst{
    font-weight: bold;
    line-height: 1.5;
}
p{
    text-align: justify;
}
.img-tip{
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin : 0px auto
} 
.icon{
    font-size: 25px;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.logo{
    font-size: 25px;
    float: left;
    line-height: 50px;
    margin-right: 40px;
}
/* @media screen and (max-width: 954px){
    .main-menu__item{
        font-size: 4px;
    }

} */
@media screen and (max-width: 1000px) {
    .main-menu{
        overflow: hidden;
        background-color: #284664;
        position: relative;
    }
    .main-menu__item{
        display: none;
        
    }
    .main-menu__item a.icon{
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .main-menu__item a{
        font-size: 6px;
        color: #fff;
        display: block;
        font-weight: 800;
        padding: 0 10px;
        position: relative;
        line-height: 50px;
        height: 50px;
        
    } 
    /* .main-menu__item a:hover{
        background-color: blueviolet;
        color: black;
    } */
    .icon{
        display: block;
    }
    li a{
        font-size: 6px !important;
        
    }

}

